<form class="{{cssClass}} flexcol" autocomplete="off">
    {{! Item Sheet Header }}
    <header class="sheet-header flexrow">
        <img class='profile-img' src='{{item.img}}' data-edit='img' data-action='onEditImage' />

        <div class="header-details flexrow">
            <h1>
                <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">item type</h4>
                <span class="item-status">item status</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    <p>summary list item</p>
                </li>
                <li>
                    <p>summary item source</p>
                </li>
            </ul>
        </div>
    </header>

    {{! Item sheet navigation }}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">Description</a>
        <a class="item" data-tab="details">Details</a>
    </nav>

    {{! Item sheet body }}
    <section class="sheet-body">
        {{! Description tab }}
        
        {{! Details tab }}

    </section>
</form>